// @import "bootstrap/functions";
// @import "bootstrap/variables";
@import "bootstrap/mixins/breakpoints";
$camouflage-color: #343d23;
// $camouflage-color: #252b19;
// $camouflage-color1: #596450; //gray
/* font converted using font-converter.net. thank you! */

// @font-face {
//     font-family: "B52";
//     src: url("../fonts/B52.eot");
//     /* IE9 Compat Modes */
//     src: url("../fonts/B52.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
//     url("../fonts/B52.otf") format("opentype"), /* Open Type Font */
//     url("../fonts/B52.svg") format("svg"), /* Legacy iOS */
//     url("../fonts/B52.ttf") format("truetype"), /* Safari, Android, iOS */
//     url("../fonts/B52.woff") format("woff"), /* Modern Browsers */
//     url("../fonts/B52.woff2") format("woff2");
//     /* Modern Browsers */
//     font-weight: normal;
//     font-style: normal;
// }
body {
    font-family: 'Jura', sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    background: url('../img/intro-bg_alt1.jpg') bottom center scroll;
    background-color: black;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // font-family: 'Jura', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0 0 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 25px;
    @media(min-width: 768px) {
        font-size: 18px;
        line-height: 1.6;
        margin: 0 0 35px;
    }
}

a {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: $camouflage-color;
    &:focus,
    &:hover {
        text-decoration: none;
        color: darken($camouflage-color, 20%);
    }
}

#mainNav {
    // font-family: 'Jura', 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 0;
    text-transform: uppercase;
    border-bottom: 1px solid fade-out(white, .7);
    background-color: black;
    .navbar-toggler {
        font-size: 14px;
        padding: 11px;
        color: white;
        border: 1px solid white;
    }
    .navbar-brand {
        font-weight: 700;
    }
    a {
        color: white;
    }
    .navbar-nav {
        .nav-item {
            -webkit-transition: background 0.3s ease-in-out;
            transition: background 0.3s ease-in-out;
            &:hover {
                color: fade(white, 80%);
                outline: none;
                background-color: transparent;
            }
            &:active,
            &:focus {
                outline: none;
                background-color: transparent;
            }
        }
    }
    @media(min-width:992px) {
        -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
        letter-spacing: 1px;
        border-bottom: none;
        background: transparent;
        &.navbar-shrink {
            border-bottom: 1px solid fade-out(white, .7);
            background: black;
        }
        .nav-link.active {
            outline: none;
            background-color: rgba(white, .3);
            &:hover {
                color: white;
            }
        }
    }
}

.masthead {
    display: table;
    position: relative;
    width: 100%;
    height: auto;
    padding: 200px 0;
    text-align: center;
    color: white;
    background: url('../img/photo2.jpg') no-repeat bottom center scroll;
    background-color: black;
    background-size: cover;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    .intro-body {
        display: table-cell;
        vertical-align: middle;
        .brand-heading {
            font-size: 50px;
        }
        .intro-text {
            font-size: 18px;
        }
    }
    @media(min-width:768px) {
        height: 100%;
        padding: 0;
        .intro-body {
            .brand-heading {
                font-size: 100px;
            }
            .intro-text {
                font-size: 22px;
            }
        }
    }
}

.btn-circle {
    font-size: 26px;
    width: 55px;
    height: 55px;
    margin-top: 15px;
    line-height: 45px;
    -webkit-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    color: white;
    border: 2px solid white;
    border-radius: 100% !important;
    background: transparent;
    &:focus,
    &:hover {
        color: white;
        outline: none;
        background: fade-out(white, .9);
    }
}

.content-section {
    padding-top: 100px;
    padding-bottom: 100px;
    .list-inline-item {
        padding-top: 10px;
    }
}

.media-section {
    padding-top: 200px;
    padding-bottom: 200px;
}

.download-section {
    color: white;
    background: url('../img/photo4.jpg') no-repeat center center scroll;
    background-color: black;
    background-size: cover; // /* Create the parallax scrolling effect */
    // background-attachment: fixed;
    // background-position: center;
    // background-repeat: no-repeat;
    position: relative;
}

#map {
    height: 400px;
}

#contact {
    background: url('../img/wall.jpg') no-repeat center center scroll; // // background-color: #222;
    // /* Create the parallax scrolling effect */
    // background-attachment: fixed;
    // background-position: center;
    // background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @include media-breakpoint-up(lg) {
        padding-bottom: 0;
    }
    .card-columns {
        @include media-breakpoint-up(md) {
            -webkit-column-count: 3;
            column-count: 3;
            height: 450px;
        }
        @include media-breakpoint-down(md) {
            -webkit-column-count: 2;
            column-count: 2;
            height: auto;
        }
        @include media-breakpoint-down(xs) {
            -webkit-column-count: 1;
            column-count: 1;
            height: auto;
        }
        color: black;
        .card-text {
            a {
                color: white;
            }
            a:hover {
                text-decoration: underline
            }
        }
    }
}

#portfolio {
    .card-columns {
        @include media-breakpoint-up(sm) {
            -webkit-column-count: 2;
            column-count: 2;
        }
        @include media-breakpoint-up(md) {
            -webkit-column-count: 3;
            column-count: 3;
        }
        @include media-breakpoint-up(lg) {
            -webkit-column-count: 4;
            column-count: 4;
        }
    }
}

.btn {
    // font-family: 'Jura', 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    border-radius: 0;
}

.btn-default {
    color: white;
    border: 1px solid white;
    background-color: transparent;
    &:focus,
    &:hover {
        color: black;
        border: 1px solid white;
        outline: none;
        background-color: white;
    }
}

// ul.banner-social-buttons {
//     display: block;
//     margin-bottom: 20px;
// }
footer {
    padding: 0 0 30px 0;
    p {
        font-size: 14px;
        margin: 0;
    }
}

::-moz-selection {
    background: #fcfcfc;
    background: fade-out(white, .8);
    text-shadow: none;
}

::selection {
    background: #fcfcfc;
    background: fade-out(white, .8);
    text-shadow: none;
}

img::-moz-selection {
    background: transparent;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

//--------- Start video Area -------------//
.video-area {
    padding: 200px 0 60px 0;
    position: relative;
    background: url(../img/maxresdefault.jpg) no-repeat center center/cover;
    .video-content {
        text-align: center;
        position: relative;
        z-index: 2;
        a {
            display: inline-block;
            margin-bottom: 20px;
        }
        h2 {
            font-weight: 600;
            font-size: 26px;
            margin-bottom: 10px;
            letter-spacing: 2px;
        }
        h4 {
            font-weight: 300;
            font-size: 18px;
        }
        .video-desc {
            margin-top: 120px;
            text-align: right;
            -ms-flex-item-align: end;
            align-self: flex-end;
        }
    }
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.overlay-bg {
    background: rgba(black, .8);
}

.overlay-bg-med {
    background: rgba(black, .7);
}

.overlay-bg-light {
    background: rgba(black, .5);
}

//--------- End video Area -------------//
.oz-body-wrap {
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
    margin: 50px;
    position: relative;
}

@include media-breakpoint-down(sm) {
    .oz-body-wrap {
        margin: 30px;
    }
    footer {
        padding: 0 0 30px 0;
    }
}

@include media-breakpoint-down(xs) {
    .oz-body-wrap {
        margin: 10px;
    }
    footer {
        padding: 0 0 10px 0;
    }
}

.logo {
    width: auto;
    height: 30px;
}

.about {
    background: url('../img/wall51.jpg') center;
    /* Create the parallax scrolling effect */
    // background-attachment: fixed;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover; 
    // position: relative;
    background-color: black;
    .about-text {
        padding: 3rem;
    }
    .about-img {
        min-height: 30rem;
        background-position: center;
        background-size: cover;
    }
    @media (min-width: 768px) {
        .about-text {
            padding: 7rem;
        }
    }
}

.features {
    padding-top: 3rem;
    padding-bottom: 3rem; // background: url('../img/gray.jpg') no-repeat center center scroll; 
    // // background-color: #222;
    // /* Create the parallax scrolling effect */
    // background-attachment: fixed;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    position: relative;
}

.services {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: url('../img/intro-bg_old.jpg') no-repeat center center scroll;
    background-size: cover;
    position: relative;
}

.vk {
    display: inline-block;
    border-radius: 5px;
    color: #fff;
    background: #587EA3;
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.odnoklassniki {
    display: inline-block;
    border-radius: 5px;
    color: #fff;
    background: #F4731C;
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.instagram {
    display: inline-block;
    border-radius: 5px;
    color: #fff;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.gift {
    span {
        font-size: 2rem
    }
}

.lowercase {
    text-transform: lowercase;
}